body {
	background-image: url("https://kpaltact.github.io/dark_wall_@2X.png");
 
 	padding-top: 1px; 



}
 

 .jumbotron {
 	background: none;
 	color: white;
 	padding-left: 100px
 }

 .dropdown {
 	padding-top: 0px;
 }


.nav-link  {
	text-decoration: none;
	color: white;
}
 
.body-p {
	color: white;
	text-align: center;
}




